<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div id="header" class="n-head">
    <div class="g-doc f-cb">
        <div class="user">welcome, Buyer
            <a href="/logout">退出</a>
        </div>
        <ul class="nav">
            <li><a href="/">首页</a> </li>
            <li><a href="/buyrecord">财务</a></li>
            <li><a href="/shoppingcart">购物车</a></li>
        </ul>
    </div>
</div>
<div class="g-doc">
    <div><h1>已购买的商品</h1></div>

    <table class="m-table m-table-row n-table g-b3">
        <colgroup>
            <col class="img">
            </col>
            <col class="time">
            </col>
            <col class="num">
            </col>
            <col class="price">
            </col>
        </colgroup>
        <thead>
        <tr>
            <th>图片</th><th>商品名称</th><th>购买时间</th><th>购买数量</th><th>购买价格</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="item:${recordlist}">
            <td>
                <a href="">
                    <img src="" alt="图片" />
                </a>

            </td>
            <td th:text="${item.title}">商品名称</td>
            <td th:text="${#dates.format(item.date, 'yyyy-MM-dd')}">购买时间</td>
            <td th:text="${item.num}">购买数量</td>
            <td th:text="${item.buyprice}">购买价格</td>
        </tr>
        </tbody>

    </table>

    <div><span>总金额：</span><h4 th:text="${totalprice}"></h4></div>




</div>


<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js" />

</body>

</html>